<li>
	{{burger_name}}

	<button class="change-devour" data-id="{{id}}" data-newdev="{{devour}}">
		{{#if devour}}EAT THIS!{{else}}ORDER ANOTHER!{{/if}}
	</button>
	<button class="delete" data-id="{{id}}">DELETE</button>
</li>