<li>
	{{name}}

	<button class="change-dev" data-id="{{id}}" data-newdev="{{devour}}">
		{{#if devoured}}ALL GONE!{{else}}EAT THIS!{{/if}}
	</button>
	<button class="delete" data-id="{{id}}">DELETE</button>
</li>